# Kconfig file for hotplugs

config ALUCARD_HOTPLUG
	bool "Enable alucard-hotplug cpu hotplug driver"
	default y
	help
	  Generic Alucard-hotplug cpu hotplug driver for ARM SOCs

config ASMP
	bool "Multi-core automatic hotplug support"
        depends on SMP && HOTPLUG_CPU
        default n
        help
          Automatically hotplugs the multiple cpu cores on and off
          based on cpu load and suspend state

config DYNAMIC_HOTPLUG
	bool "Enable dynamic-hotplug cpu hotplug driver"
	default y
	help
	  Generic Dynamic-hotplug cpu hotplug driver for ARM SOCs

config INTELLI_PLUG
	bool "Enable intelli-plug cpu hotplug driver"
	default n
	help
	  Generic Intelli-plug cpu hotplug driver for ARM SOCs

config THUNDER_PLUG
      bool "Enable plugging down/up of cores using powersuspend"
      help
       This driver uses powersuspend to take down the cpu cores
       on a octa core device. Tuned to work on a dual core device.
